.Template{
    margin: auto;
    width: 60%;
}

ul {
    list-style: none;
    border:1px solid red;
    padding:0px;

}

li{
    border:1px solid black;
    text-align:left;
    margin-top:5px;
}

li>span {
    display:inline-block;
    width:180px;
}

li>input[type="text"]{
    margin-right:10px;
}

.Generate {
    display: inline-block;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
}


.Generate:hover {
    background-color: #3e8e41;
}

.Generate:active{
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}