.Template{
    margin: auto;
    width: 60%;
}

ul {
    list-style: none;
    border:1px solid red;
    padding:0px;

}

li{
    border:1px solid black;
    text-align:left;
    margin-top:5px;
}

li>span {
    display:inline-block;
    width:180px;
}

li>input[type="text"]{
    margin-right:10px;
}


